* {
  padding: 0;
  margin: 0;
}

/* paletas de colores 
negro#000000
#8fd23c
gris#a6a6a6
#e2f6ca
blanco#ffffff
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  */


/* https://github.com/cristianR25/petshopwaurolon.git repocitorio gibhub 

echo "# petshopwaurolon" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/cristianR25/petshopwaurolon.git
git push -u origin main
*/


  a:hover {color:#a6a6a6 ;}


 

.ulclass {
  display: flex;
  align-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
}

.lgclass {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 200px;
}



.navclass {
  background-color: #8fd23c;
}

.sectionimgcontactos {
  display: flex;
  height: 50px;
  width: 50px;
}


.classmaincont {
  background-color: gris#a6a6a6;
}

.htmlclass {
  background-color: #a6a6a6;
}


.mainclassind {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: column;
  align-items: stretch;
}

.imgprodclass{
  display: flex;
  height: 350px;
  width: 450px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
}

.divhijoprod {display: flex;}







